@import url('https://fonts.cdnfonts.com/css/bebas-neue');

body {
    background-color: #121212;
}

nav {
    background-color: #121212;
}

a {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
}

#backToTopBtn {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

#backToTopBtn:hover {
    color: #BB86FC;
    text-decoration: dashed;
}

.focim {
    font-size: 250%;
    letter-spacing: 15px;
}

.nav-link {
    font-size: larger;
}

h1{
    padding-top: 25px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    font-size: 500%;
    color: #BB86FC;
}

.szoftverek {
    background-color: #121212;
    color: #fff;
}

@media (max-width: 600px) {
    h1 {
        font-size: 250%;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 125%;
    }
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255); /* Fehér háttér átlátszó */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader-szoveg {
    margin-top: 10px;
}

.jumbotronhatter {
    background-color: #121212;
}

.slack {
    width: 144px;
    height: 144px;
}